name: CI

on:
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: preview
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # Cache .nx/cache
      - uses: actions/cache@v4
        with:
          path: .nx
          key: nx-cache-${{ github.run_id }}
          restore-keys: |
            nx-cache-

      - run: npm ci --legacy-peer-deps
      - uses: nrwl/nx-set-shas@v4

      - run: npx nx run-many -t format --configuration=check --parallel=1 --outputStyle=static
      - run: npx nx affected -t lint test build build-dummy --outputStyle=static
