name: Main

on:
  push:
    branches:
      - main

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # Cache .nx/cache
      - uses: actions/cache@v4
        with:
          key: 'nx-cache'
          path: .nx

      - run: npm ci --legacy-peer-deps
      - uses: nrwl/nx-set-shas@v4

      - run: npx nx affected -t lint test build build-dummy --outputStyle=static

      - shell: bash
        env:
          TOLGEE_API_KEY: ${{ secrets.TOLGEE_API_KEY }}
        run: |
          npx tolgee push --api-key $TOLGEE_API_KEY
